<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">


<div class='frame'>
	
	<div class='navbar'>
		<ul>
			<li><a routerLink="/dashboard">Main</a></li>
			<li><a routerLink="/user/{{id}}">User Profile</a></li>
			<li><a routerLink="/game/{{gameid}}">Game Info</a></li>
      <li *ngIf="isLogged" id="right-button"><a routerLink="/dashboard" (click)="logoutClick()">Log Out</a></li>
		</ul>
	</div>
<router-outlet></router-outlet>
