  <div class='user_content'>
    <div class='left'>
			<div class='user_overview' *ngIf='user'>
				<h1>{{user.username}} Profile</h1>
				<img class='user_pic' src='../../../img/roflandeze.png'>
				<br>
				<br>
				<h3>here is a place for user stats</h3>
				<br>
				<span>RoflanEbalo</span>
				<br>
				<h3>place for description</h3>
				<br>
				<span>Tochno gru, RoflanEbalo</span>
				<br>
				<br>
				<div class='user_button'>
					<div class="btn-group">
						<button>Update Profile</button>
						<button>Check Game List</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class='right'>
			<div class='user_list' *ngIf="user">
				<h1>{{user.username}} List</h1>
				<ul class='user_game_list' *ngIf='games'>
          <li *ngFor="let game of games">
            <a routerLink="/game/{{game.game.gameid}}">
              {{game.game.gamename}}
            </a>
            <span class='genre'>{{game.game.gamedesc}}</span>
          </li>
				</ul>
			</div>
		</div>
</div>
