<div class="profile">

<img src="roflandeze.png">

<h3>{{user[0].name}} Profile</h3>
<p>here is a place for user stats</p>
<p>place for description</p>
<button class='profileButtons'>Update Profile</button>
<button class='profileButtons'>Check Game List</button>
</div>
<div class="list">
	<h2>{{user[0].name}} List</h2>
<ul class="gameList">
  <li *ngFor="let game of games">
    <a routerLink="/game/{{game.id}}">
      {{game.name}}
    </a>
    <p class='gameDescription'>{{game.description}}</p>
  </li>
</ul>
<div>

<div class="footer">
	<button class="footer-button" (click)="back()">Back</button>
</div>