<div class="profile" *ngIf="user">

<img src="../../../img/roflandeze.png">

<h3>{{user.username}} Profile</h3>
<p>here is a place for user stats</p>
<p>place for description</p>
<button class='profileButtons'>Update Profile</button>
<button class='profileButtons'>Check Game List</button>
</div>
<div class="list" *ngIf="user">
	<h2>{{user.username}} List</h2>
<ul class="gameList">
  <li *ngFor="let game of games">
    <a routerLink="/game/{{game.game.gameid}}">
      {{game.game.gamename}}
    </a>
    <p class='gameDescription'>{{game.game.gamedesc}}</p>
  </li>
</ul>
<div>

<div class="footer">
	<button class="footer-button" (click)="back()">Back</button>
</div>