
.profile {
	float: left;
	width: 25%;
	height: 600px;
	position: static;
	border: solid;
}

.list {
	position: relative;
	margin-left: 25%;
	border: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.gameDescription {
	border: none;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.profileButtons {
	position: relative;
	margin-top: 90%;
	color: black;
}

.footer-button {
    background-color: #4c7750;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    width: 80%;
}
