p {
	border: 1px solid blue;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile {
	float: left;
	width: 25%;
	position: static;
}

.description {
	position: relative;
	margin-left: 65%;
}

.footer {
	position: relative;
	margin-bottom: 50%;
	margin-left: 65%;
}