p {
	border: none;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile {
	float: left;
	width: 270px;
	position: static;
	border: 1px solid;
	border-radius: 3px;
	padding: 1px;
	height: 600px;
}

.profileButtons {
	position: relative;
	margin-top: 40%;
	color: black;
}

.description {
	position: relative;
	margin-left: 0%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

img {
	border: 1px solid #ddd;
	border-radius: 7px;
	padding: 3px;
	width: 250px;
}

.footer-button {
    background-color: #4c7750;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    width: 80%;
}
