<h2>{{games[6].name}} {{title}}</h2>
<div class="profile">
<img src='gameposter.jpg'>
 <h3>Game Info</h3>
 Release Date: 2017<br/>
 Platforms: Switch, PC <br/>
 <button class='profileButtons'>Add Game to List</button>
</div>
<div class="description">
	<h2>Game Description</h2>
	{{games[6].description}}
	<p>
	Hollow Knight is a Metroidvania video game developed and published by Australian studio Team Cherry. The game was released for Microsoft Windows in February 2017, and later for macOS and Linux in April 2017 and Nintendo Switch in June 2018.
	</p>
	<p>
	The game tells the story of a knight on a quest to uncover the secrets of the long-abandoned insect kingdom of Hallownest, whose depths draw in the adventurous and brave with promises of treasures and answers to ancient mysteries.
	</p>
</div>

<div class="footer">
<button class="footer-button" (click)="back()">Back</button>
</div>